.contactForm{
  width: 100%;
  padding: 29px;
  background: rgba(0, 0, 0, 0.1); 

}


.editForm {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  

  position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;

}

#table{
  background: rgb(115, 168, 115);
  width: 25%;
  border-collapse:collapse; 
  border:1px solid;
  
}

td {
  text-align: center;
}

th, td {
  border-bottom: 1px solid #ddd;
}
tr:hover {background-color: coral;}

th {
  height: 70px;
}

#avatarImage{
  background: rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

#homeLink #editContact #deleteContact #submitForm{
  width: 100px;
  background: #42000C;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 10px;
}

.section-divider{ 
    margin: 3rem 0;
}

@media (min-width: 1200px) {
  .feature-heading {
    margin-top: 10rem;
  }
}

@media (max-width: 540px) {
    .carouselImg {
        display: none;
    }
    
    .team {
        margin-top: 2rem;
    }
}


























































